:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

/* start box */
.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.wrap-yes {
    flex-wrap: wrap;
}

.column-flex {
    flex-direction: column;
}

.d-grid {
    display: grid;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.d-block {
    display: block;
}

@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }

    .hide-mobile {
        display: none;
    }

}

.w-full {
    width: 100%;
}

.w-fit {
    width: fit-content;
}

.p-relative {
    position: relative;
}
/* end box */
/* start padding + margin */
.p-5 {
    padding: 5px;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.m-0 {
    margin: 0;
}

.m-20 {
    margin: 20px;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

/* end padding + margin */
/* start color */
.bg-white {
    background-color: white;
}

.bg-eee {
    background-color: #eee;
}

.bg-blue {
    background-color: var(--blue-color);
}

.bg-orange {
    background-color: var(--orange-color);
}

.bg-green {
    background-color: var(--green-color);
}

.bg-red {
    background-color: var(--red-color);
}

.bg-grey {
    background-color: var(--grey-color);
}

.c-black {
    color: black;
}

.c-white {
    color: white;
}

.c-grey {
    color: var(--grey-color);
}

.c-blue {
    color: var(--blue-color);
}

.c-green {
    color: var(--green-color);
}

.c-orange {
    color: var(--orange-color);
}

.c-red {
    color: var(--red-color);
}

/* end color */
/* start font */
.txt-c {
    text-align: center;
}

@media(max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fw-bold {
    font-weight: bold;
}

/* end font */
/* start border */
.b-none {
    border: none;
}

.rad-6 {
    border-radius: 6px;
}

.rad-10 {
    border-radius: 10px;
}

/* end border */
/* start components */
.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}

/* start custom checkbox */

/* end custom checkbox */

/* end components */