* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --main-transition: .3s;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

input:focus {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

::-moz-scrollbar {
    width: 7px;
}

::-moz-scrollbar-thumb {
    background-color: var(--blue-color);
    transition: var(--main-transition);
}

::-moz-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

::-moz-scrollbar-track {
    background-color: white;
}
/* end global rules */
.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}

/* start side bar */
.side-bar {
    width: 200px;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}

.side-bar>h3 {
    margin-bottom: 50px;
    position: relative;
    font-weight: 600;
}

@media (min-width: 768px) {

    .side-bar>h3::before,
    .side-bar>h3::after {
        content: "";
        position: absolute;
        background-color: black;
        left: 50%;
        transform: translateX(-50%);
    }

    .side-bar>h3::before {
        width: 80px;
        height: 2px;
        bottom: -20px;
    }

    .side-bar>h3::after {
        border: 4px solid white;
        border-radius: 50%;
        height: 12px;
        width: 12px;
        bottom: -28px;
    }
}

.side-bar ul li a {
    transition: .3S;
    margin-bottom: 5px;
}

.side-bar ul li a:hover,
.side-bar ul li a.active {
    background-color: #f6f6f6;
}

.side-bar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .side-bar {
        width: 62px;
        padding: 10px;
    }

    .side-bar>h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
}

/* end side bar */
/* start content */
/* start head */
.content {
    flex: 1;
    overflow: hidden;
}

.content>.head {
    padding: 15px;
    box-shadow: 0 0 10px #ddd;
}

.content .head .search {
    position: relative;
}

.content .head .search::before {
    font-family: "Font Awesome 6 free";
    content: "\f002";
    font-weight: 900;
    color: var(--grey-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 14px;
}

.content .head .search input {
    padding-left: 30px;
    border: 1px solid var(--grey-color);
    width: 160px;
    transition: var(--main-transition);
}

.content .head .search input:focus {
    width: 200px;
}

.content .head .search input:focus::placeholder {
    opacity: 0;
    transition: var(--main-transition);
}

.content .head .icons .notification {
    position: relative;
    margin-right: 10px;
}

.content .head .icons .notification::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: var(--red-color);
    top: -3px;
    right: -5px;
}

.content .head .icons img {
    width: 30px
}

/* end head */
/* start profile head */
.page h1 {
    position: relative;
    margin: 20px 20px 40px;
    font-weight: 600;
}

.page h1::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 120px;
    background-image: linear-gradient(to right, black 33%, white 33%);
    bottom: -15px;
}
/* end profile head */
/* start wrapper */
.wrapper {
    grid-template-columns: repeat(auto-fit,minmax(450px,1fr));
}

.wrapper .plan .price {
    border: 3Px solid white;
}

.wrapper .plan:first-of-type .price {
    outline: 3px solid var(--green-color);
}

.wrapper .plan:nth-of-type(2) .price {
    outline: 3px solid var(--blue-color);
}

.wrapper .plan:nth-of-type(3) .price {
    outline: 3px solid var(--orange-color);
}

.wrapper .price span:first-child {
    font-weight: 600;
    font-size: 25px;
} 

.wrapper .price span:last-child {
    font-size: 40px;
    font-weight: 600;
}

.wrapper .price span:last-child span {
    font-size: 20px;
    margin-top: -15px;
}

.wrapper ul li {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.wrapper ul li span {
    flex: 1;
}

.wrapper a {
    margin-top: 15px;
    width: 70px;
    padding: 5px;
    font-size: 16px;
}

.wrapper ul li .yes {
    color: var(--green-color);
}

.wrapper ul li i:not(.yes,.help) {
    color: var(--red-color);
}
/* end wrapper */